<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>About Us</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-12 main_header_left">
                            <h1 class="display-3">Project is developed by:</h1>
                            <h2> <span class="txt_clr">Ayushi</span> Gupta</h2>
                            <h2> <span class="txt_clr">Lakshay</span> Gupta</h2>
                            <h2><span class="txt_clr">Nishtha</span> Sharma</h2>
                            <h2><span class="txt_clr">Sahil</span> Sharma</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>