<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>About Us</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png" />

</head>

<body>
    <h1>Project is developed by:</h1>
    <div>
        <h2> <span class="txt_clr">Ayushi</span> Gupta</h2>
        <h2> <span class="txt_clr">Lakshay</span> Gupta</h2>
        <h2><span class="txt_clr">Nishtha</span> Sharma</h2>
        <h2><span class="txt_clr">Sahil</span> Sharma</h2>
    </div>
</body>

</html>