<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Society Maintenance Tracker</title>
    <style>
        .hero-image {
            background-image: url("images/loginimage.jpg");
           
            background-position: center;
            background-repeat: no-repeat;
         
            position: relative;
            width:100%;
	height:100%;
    background-size:cover;
	display:flex;
	
	
        }
        .hero-text {
            text-align: center;
            position: absolute;
            top: 40%;
            left: 40%;
            transform: translate(-30%, -50%);
            color: rgb(12, 11, 11);
        }
        .container {
  display: flex;
  width: 400px;
  padding: 0px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #fbfeff;
  border-radius: 50px;
  border: 3px solid #030303;
}

input {
  width: 100%;
  height: 14px;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

button {
  height: 35px;
  width: 150px;
  background-color: #050505;
  color: #e6eff5;
  text-transform: uppercase;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  font-size: large;
}
input[type="text"]
{
    font-size:18px;
}
       
    </style>
</head>

<body>
    {{>HomePageNavbar}}
            <div class="hero-image">
            <div class="hero-text"><br>
                <h1  style="font-size:40px" >ğ–ğğ¥ğœğ¨ğ¦ğ ğ“ğ¨,</h1>
                    <h1 style="font-size:40px"> ğ’ğ¨ğœğ¢ğğ­ğ² ğŒğšğ¢ğ§ğ­ğğ§ğšğ§ğœğ ğ“ğ«ğšğœğ¤ğğ« </h1><br>
                     <form action="/" method="POST">
                    <h1 style="color:rgb(106, 29, 29);"  for="socname">ğ„ğ§ğ­ğğ« ğ˜ğ¨ğ®ğ« ğ’ğ¨ğœğ¢ğğ­ğ² ğğšğ¦ğ </h1>
                   <br>

                    <div class="container">
                        <input name="socname" type="text"placeholder="Enter Your Society Name" >
                                 <button >Submit</button>
                             </div>
                    
                   </form>
				   
                    <br>
                    <a href="/Regsoc" class="btn btn-info  btn-lg" role="button" aria-pressed="true" style="font-size:17px;">Register Your Society Here</a>
                  
     </div>
        </div>
    
</body>

</html>