<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Society Maintenance Tracker</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png" />
    <style>
        .hero-image {
            background-image: url("images/image2.1.jpg");

            background-position: center;
            background-repeat: no-repeat;

            position: relative;
            width: 100%;
            height: 100%;
            background-size: cover;
            display: flex;


        }

        .hero-text {
            text-align: center;
            position: absolute;
            top: 90px;
            left: 25%;

            transform: translate(-30%, -50%);
            color: rgb(12, 11, 11);
        }

        .main_content h1 {
            font-size: 40px;

        }

        .home {
            font-family: "proxima nova";
            font-weight: 100;
            font-size: 20px;
            text-align: center;
            border: 4px solid #080808;
            border-radius: 30px;
            padding: 10px 80px;
            -webkit-transition-duration: 200ms;
            transition-duration: 200ms
        }

        .home:hover {
            background-color: #31A6FF;
            color: rgb(15, 14, 14);
        }

        .reg {
            font-family: "proxima nova";
            font-weight: 100;
            font-size: 20px;
            text-align: center;
            border: 4px solid #0e0e0f;
            border-radius: 30px;
            padding: 10px 60px;
            background-color: #f5fdf7;

        }

        .reg:hover {
            background-color: #31A6FF;
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body>
    {{>navbar}}
    <div class="hero-image">
        <div class="hero-text">
            <div class="container-fluid main_header">
                <div class="main_content">
                    <h1>ğ‹ğ¨ğ ğ¢ğ§ ğ€ğ¬</h1>

                    <a href="/rwalogin" class="home">RWA Member</a><br><br>
                    <a href="/societylogin" class="home">Society Member</a><br><br>
                    <a href="/socMemRegister" class="reg">Register yourself here</a><br>



                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>