<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Make Payment</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png" />
    <link rel="stylesheet" href="css/style2.css">
</head>

<body>
    {{>societynavbar}}
    <div class="card">
        <div class="header">
            <h1>Welcome to Payment Gateway</h3>
                <h3>Pay Society Maintenance Fee Online</h3>
                <h3>Amount: ₹1000</h3>
                <h3> Including Taxes</h3>
                <form action="/payment" method="POST">
                    <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key={{key}}
                        data-amount="10000" data-currency="INR" data-name="Pay Bill" data-locale="auto">
                        </script>
                </form>
        </div>
    </div>
</body>

</html>