<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Register Yourself</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png"/>
</head>
<style>
    .hero-image {
            background-image: url("images/loginimage1.jpg");
           
            background-position: center;
            background-repeat: no-repeat;
         
            position: relative;
            width:100%;
	height:150%;
    background-size:cover;
	display:flex;
	
	
        }
</style>
<body>
    {{>navbar}}
          <div class="hero-image">
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-13 col-12 mx-auto">
                    <form action="/Regsoc" method="POST" class="temp_form">
                        <h2 class="text-center display-4">Register Your Society </h2>
                        <label for="socname">Create Your Society Name:</label>
                        <input type="text" name="socname" placeholder="Create Your Society Name" autocomplete="off" required>
                        
                         <label for="socNickName">Create Your Society Nick Name:</label>
                        <input type="text" name="socNickName" placeholder="Create a Nickname For Your Society " autocomplete="off" required>

                        <label for="phone">Society Office Number:</label>
                        <input type="tel" name="phone" placeholder="Enter your Society Office Number" minlength="10" maxlength="10"  pattern="[7-9]{1}[0-9]{9}" required>

                        <label for="street">Street Name:</label>
                        <input type="text" name="street" placeholder="Enter Your Street Name" autocomplete="off"
                            required>
                        <label for="district">District:</label>
                        <input type="text" name="district" placeholder="Enter Your District" autocomplete="off"
                            required>

                        <label for="city">City:</label>
                        <input type="text" name="city" placeholder="Enter Your City Name" autocomplete="off" required>

                        <label for="state">State:</label>
                        <input type="text" name="state" placeholder="Enter Your State Name" autocomplete="off" required>
                        
                        <label for="country">Country:</label>
                        <input type="text" name="country" placeholder="Enter Your Country Name" autocomplete="off" required>

                        <label for="pincode">Pin Code:</label>
                        <input type="text" name="pincode" placeholder="Enter Pincode"  maxlength="6" autocomplete="off" required>
    
                        <input type="submit" value="Submit" id="submitBtn">
                    </form>
            </div>
        </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>