<!DOCTYPE html>
<html>

<head>
    <title>RWA-DashBoard</title>
    <link rel="shortcut icon" type="images/png" href="images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style2.css">
    {{>header}}
</head>

<body>

    {{>rwanavbar}}
    {{!-- left side bar --}}
    <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/rwaMemberDashBoard">Dashboard</a>
        {{!-- <a href="/mySocMembers">Society Members</a> --}}
        {{!-- <a href="/rwaCreateNotice">Create Notice</a> --}}
        <a href="/rwaDevelopmentEntries">Development Update</a>
        <a href="/userpayment">Payments Log</a>
        {{!-- <a href="/rwaMemReadComplaint">Complaint Box</a> --}}
        <a href="/rwaMemReadBooking">Reservation Requests</a>
        <a href="#rwa">RWA Members</a>
        <a href="/send">Invite Society Members</a>
    </div>
    





    {{!-- right side page --}}
    <div class="main">
         <div class="header">
             <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
            <h1>Welcome {{memname}}</h1>
            <p1>To {{socname}}</p1>
        </div>

        
        
        {{!-- <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-12 main_header_left">
                            <h2>Installed<span class="txt_clr"> Open Gym </span>in Society!</h2>
                            <h2>New era<span class="txt_clr"> LED Street Lights </span>are installed!</h2>
                            <h2>Day and Night<span class="txt_clr">Watchmen shifts </span>are started! </h2>
                            <h2>Society's Gates now have<span class="txt_clr"> Smart Card Security </span></h2>
                            <h3>More<span class="txt_clr"> Facilities </span>implementing soon!!!</h3>
                        </div>
                        <div class="col-md-6 col-12 main_header_right">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="images/opengym.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="images/streetlight.jpg" alt="Second slide"
                                            height="350">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="images/cartoonsecurityguard.jpg"
                                            alt="Third slide" width="100" height="400">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="images/smartgate.jpg" alt="Third slide"
                                            width="100" height="400">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        
        <br>
       
        {{!-- top 3 cards --}}
        <div class="row">
            <div class="column">
                <div class="card">
                    <h1>Members in Society:</h1>
                    {{!-- <h1>Log Complaint</h1> --}}
                    <h3>{{memcount}}</h3>
                    <h3><a href="/mySocMembers">Check Members info</a></h3>
                </div>

            </div>
            <div class="column">
                <div class="card">
                    <h1>COMPLAINT BOX</h1>
                    <h3>PENDING:{{complaintcount}}</h3>
                    <h3><a href="rwaMemReadComplaint">Check all complaints</a></h3>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1>Society Fund:</h1>
                    <h3>100000</h3>
                    <h3><a href="/userpayment">Check Payments</a></h3>
                </div>
            </div>

        </div>
       
        <br><br>
       
        {{!-- send notice form --}}
        <div class="header1">
            <h1>Send Notice Broadcast</h1>
        </div>

        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <form action="/rwaCreateNotice" method="POST" class="temp_form">
                        <h2 class="text-capitalize display-4">Add Notice</h2>
                        {{!-- <label for="sname">Society Name:</label> --}}
                        {{!-- <input type="text" name="socName" placeholder="Enter Your Society Name" autocomplete="off"
                            required> --}}

                        <label for=" ndate">Notice Date:</label>
                        <input type="date" name="noticeDate" placeholder="Enter date" autocomplete="off" required>

                        <label for="nheading">Heading:</label>
                        <input type="text" name="noticeHeading" placeholder="Enter Heading" autocomplete="off" required>

                        <label for="ndescription">Description:</label>
                        <input type="text" name="noticeDesc" placeholder="Enter description" required>

                        <label for="nlink">Link(If any):</label>
                        <input type="text" name="noticeLink" placeholder="Provide link" autocomplete="off">

                        <label for="nfile">File:(If any):</label>
                        <input type="file" name="noticeFile" placeholder="upload file" autocomplete="off">

                        <input type="submit" value="Submit">

                    </form>
                </div>
            </div>
        </div>


    </div>
    <script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
</body>

</html>