<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Development Section</title>
</head>

<body>
    {{>societynavbar}}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Society Name</th>
                <th>Date Of Notice</th>
                <th>Heading </th>
                <th>Description </th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.Facility}}</td>
                <td>{{this.Category}}</td>
                <td>{{this.FacilityDate}}</td>
                <td>{{this.DevelopmentDesc}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>

</body>

</html>