<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style2.css">
    {{>header}}
</head>

<body>
    {{>societynavbar}}
    {{!-- <div class="sidenav">
        <img src="images/logo.jpg" alt="Logo" width="50px" height="50px">
        <a href="/socMemDashboard">Dashboard</a>
        <a href="/myprofile">Profile</a>
        <a href="/socMemReadNotice">Notices</a>
        <a href="/payment">Payment</a>
        <a href="/booking">Reservation</a>
        <a href="/complaintRegister"></a>Complaint Box</a>


    </div> --}}

    {{!-- <div class="main"> --}}



        <div class="header">
            <h1>Welcome {{memname}}</h1>
            <p1>To {{socname}}</p1>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <h1><a href="#complaint">Log a Complaint</a></h1>
                    {{!-- <h1>Log Complaint</h1> --}}
                    <h3>Facing any Issue?</h3>
                    <h3><a href="/complaintRegister">Check Previous complaints</a></h3>
                </div>

            </div>
            <div class="column">
                <div class="card">
                    <h1><a href="#booking">Reservation</a></h1>
                    <h3>Reservations for society Amenities!</h3>
                    <h3><a href="/booking">Check Previous Reservations</a></h3>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1>Payment Status:</h1>
                    <h3>PENDING!</h3>
                    <h3><a href="/payment">Pay Now</a></h3>
                </div>
            </div>

        </div>
        <br>
        <br>
        <div class="header1">
            <h1>Notice Board</h1>
        </div>
        <div class="card1">
            <h1>Title</h1>
            <h1>Subject</h1>
            <h1>Description</h1>
            <h4><a href="/socMemReadNotice">Click here to read all Notices</a></h4>
        </div>

        <br>
        <br>

        {{!-- complaint --}}
        <div class="container-fluid main_header">
            <div class="header" id="complaint">
                <P1>Log a Complaint</p1>
                <h1>Breifly Describe your problem we will try our best to solve it ASAP <h1>
            </div>
            <div class="row">

                <div class="col-md-10 col-12 mx-auto">
                    <form action="/complaintRegister" method="POST" class="temp_form">

                        <label for="socMemName">Name:</label>
                        <input type="text" name="socMemName" placeholder="Enter name">

                        <label for="compDate">Date:</label>
                        <input type="date" name="compDate" placeholder="" autocomplete="off" required>

                        <label for="compSubject">Subject:</label>
                        <input type="text" name="compSubject" placeholder="Enter Subject" autocomplete="off" required>

                        <label for="compDescription">Description:</label>
                        <textarea name="compDescription" placeholder="Description" autocomplete="off" rows="4"
                            ,cols="50">
                    </textarea>

                        <input type="submit" value="Submit">

                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid main_header">
            <div class="header" id="booking">
                <p1>Reservations Form </p1>
                <h1>Planning a party or any celebrations?</h1>
                <h1>Book our Society's Amenities just by a filling this form.</h1>
            </div>
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <form action="/booking" method="POST" class="temp_form">

                        <label for="socMemName">Name:</label>
                        <input type="text" name="socMemName" placeholder="Enter Your Name" autocomplete="off" required>

                        <label for="reserve">Book:</label>
                        <select name="reserve" required>
                            <option value="ClubHouse">Club House</option>
                            <option value="Community Hall">Community Hall</option>
                            <option value="Garden">Society Garden</option>
                        </select>

                        <label for="resDate">Date: </label>
                        <input type="date" name="resDate" placeholder="Enter date of booking" required>

                        <label for="resDescription">Description:</label>
                        <textarea name="resDescription" placeholder="Description" autocomplete="off" rows="4"
                            ,cols="50">
                    </textarea>


                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

        </div>



        {{!--
    </div> --}}

</body>

</html>